.outbox{
	border-left:100px solid orange;
	border-right:100px solid orange;
	background-color:yellowgreen;
	margin: 0;
}
.divpic{
	margin-bottom: 50px;
	width: fit-content;
	padding-top:50px;
	margin: auto;
}
.divpic img{
	margin: 0 60px
}

.divtext 	{
	padding-top:50px;
	font-size:65px;
	text-align: center;
	color:white;
}
.subcontent{
	padding-bottom:120px;
	font-size: 16px;
}
.headtext{
    border:2px;
	font-size:25px;
	position: sticky;
	top:0;
	text-align: center;
}
.scrolling{
	overflow:auto;
	width:auto;
	height:96vh;
}
.mtbox{
	border:2px;
	padding:25px;
	text-align:center;
}
img{
	width: 250px;
	height: 250px;;
}
